<section class="home-songs" id="songs">
	<div class="container">
		<div class="col-md-12">
			<h3>THE SONGS</h3>
		</div>
		<div class="row">
			<div class="col-md-3" style="text-align:center;">
				<iframe src="https://open.spotify.com/track/707iNpR1Y2u0wGrteCTJAG" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</div>
			<div class="col-md-3" style="text-align:center;">
				<iframe src="https://open.spotify.com/embed/track/5uJTMdAXphMkvKCDRe03mr" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</div>
			<div class="col-md-3" style="text-align:center;">
				<iframe src="https://open.spotify.com/embed/album/5ryx96hp6k6PiQjhW7IVKi" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</div>
			<div class="col-md-3" style="text-align:center;">
				<iframe src="https://open.spotify.com/embed/album/1FOMvIpBexGbYvV9fxr9So" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</div>
		<div>
	</div>
</section><!--end home section-->
