<section class="home-about" id="about">
	<h3>SINGER-SONGWRITER</h3>
	<p>Singer-songwriter Jim Andrew Rogers captures themes of redemption, love, loss and faith through folk tinged singer-songwriter music.
<br><br>
Growing up in the 80s, his musical journey began by listening to cassette tapes and searching through his fathers record collection. Discovering classic albums that led to artists such as Neil Young, Nick Drake and Van Morrison.
<br><br>
In 2014 Rogers co-founded the band The Bright Expression. He travelled out to Redding California to record a full length record and spend the next few years playing events and festivals across the UK and Europe.
<br><br>
Now writing as a solo artist Rogers has used his previous years of musical craft and songwriting to pen a new wave of indie folk songs starting with Worlds Apart.</p>
</section><!--end home section-->