<section class="home-bottom" id="music">
	<div class="container">
		<div class="col-md-12" style="text-align:center;">
			<h3>MEDIA</h3>
		</div>
		<div class="row">
			<div class="col-md-6" style="text-align:center;">
				<iframe width="100%" height="250" src="https://www.youtube.com/embed/olDNrp99_fQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			</br>
			<div class="col-md-6" style="text-align:center;">
				<iframe width="100%" height="250" src="https://www.youtube.com/embed/ONQGNmejiz8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			</br>
			<div class="col-md-6" style="text-align:center;">
				<iframe width="100%" height="250" src="https://www.youtube.com/embed/tPPDX1zPvZQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			</br>
			<div class="col-md-6" style="text-align:center;">
				<iframe width="100%" height="250" src="https://www.youtube.com/embed/siqQrqabHA8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		<div>
	</div>
</section><!--end home section-->
