<section class="home-top" id="home">
		<div class="row">
			<div class="col-md-6">
				<div class="top-feature">
					<img src="/images/ras.PNG" alt="Rocks and stars">
				</div>
			</div>
			<div class="col-md-6">
				<div class="top-feature">
					<h4>Pre-save the latest song 'Rocks and Stars'</h4>
					<div class="tf-btn">
						<a class="download" href="https://distrokid.com/hyperfollow/jimandrewrogers/rocks-and-stars">SPOTIFY<i class="fa fa-spotify"></i></a>
					</div><br>
				</div>
			</div>
		</div>
</section><!--end home section-->