<div class="top-header">
	<div id="header">
		<header>
			<nav class="navbar navbar-expand-lg navbar-light">
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <a class="navbar-brand" href="../#home"><img src="../images/logo-jar.png"></a>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav">
			      <a class="nav-item nav-link active" href="../#home">HOME<span class="sr-only">(current)</span></a>
			      <a class="nav-item nav-link" href="../#about">BIO</a>
				  <a class="nav-item nav-link" href="../#songs">SONGS</a>
			      <a class="nav-item nav-link" href="../#music">MEDIA</a>
				  <a class="nav-item nav-link" href="https://store.jimandrewrogers.com/">STORE</a>
			      <a class="nav-item nav-link" href="../#contact">CONTACT</a>
			    </div>
			  </div>
			</nav>
		</header>
	</div>
</div>