<!DOCTYPE html>
<html>
	{% include page_head.html %}
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KSBVF6T"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div class="ah">
	{% include page_header.html %}
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="song-share">
								<div class="top-feature">
									<img src="../../../../images/ah-single.png" alt="Achilles Heel">
									<div class="tf-btn">
										<a class="download" href="https://open.spotify.com/album/0ArUOcnsEurwv34q95W4EX">SPOTIFY<i class="fa fa-spotify"></i></a>
									</div><br>
									<div class="tf-btn">
										<a class="download" href="https://music.apple.com/gb/album/achilles-heel-single/1520228813?uo=4&at=11lDJ&ct=1595725X14a8f3d6fea9d0d6cd414e9d16bb8e8d">ITUNES<i class="fa fa-music"></i></a>
									</div><br>
									<div class="tf-btn">
										<a class="download" href="https://www.amazon.com/gp/product/B08BS5TC29">AMAZON<i class="fa fa-amazon"></i></a>
									</div><br>
									<div class="tf-btn">
										<a class="download" href="https://music.apple.com/gb/album/achilles-heel-single/1520228813?uo=4&app=music&at=11lDJ&ct=1595725Xe1a2f09eed5f437cad48874da08cfdea">APPLE<i class="fa fa-apple"></i></a>
									</div><br>
									<div class="tf-btn">
										<a class="download" href="https://www.youtube.com/watch?v=olDNrp99_fQ">YOUTUBE<i class="fa fa-youtube"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	{% include page_footer.html %}
	{% include page_scripts.html %}
		</div>
	</body>
</html>