<!DOCTYPE html>
<html>
	{% include page_head.html %}
	  <body>
		  <div id="wrapper latest" style="background-color:#77b3b3;">
			  {% include page_header.html %}
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="song-share">
								<div class="top-feature">
									<div class="top-video" style="padding-bottom:20px;">
										<iframe width="100%" height="315" src="https://www.youtube.com/embed/Q2vhy-Miv2g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
									<div class="tf-btn">
										<a class="download" href="https://distrokid.com/hyperfollow/jimandrewrogers/dont-let-the-light-fall-from-your-eyes">PRE-SAVE THE LATEST SONG</a>
									</div><br>
									<div class="tf-btn">
										<a class="download" href="https://youtu.be/Q2vhy-Miv2g">VIDEO</a>
									</div><br>
									<div class="tf-btn">
										<a class="download" href="https://tip.wearetipjar.com/p/jimarogers/">TIPJAR - FEEL FREE TO DONATE</a>
									</div><br>
									<div class="tf-btn">
										<a class="download" href="https://www.jimandrewrogers.com/#contact">SUBSCRIBE</a>
									</div><br>
									<div class="tf-btn">
										<a class="download" href="https://www.jimandrewrogers.com/#about">BIO</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		  	{% include page_footer.html %}
		  	{% include page_scripts.html %}
	  	 </div>
	  </body>
</html>