<!DOCTYPE html>
<html>
	{% include head.html %}
	  <body>
		  <!-- Google Tag Manager (noscript) -->
		  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KSBVF6T"
		  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		  <!-- End Google Tag Manager (noscript) -->
		  <div id="wrapper">
			  {% include header.html %}
			  {% include home_top.html %}
			  {% include home_about.html %}
			  {% include home_section.html %}
			  {% include home_music.html %}
			  {% include home_contact.html %}
			  {% include scripts.html %}
	  	 </div>
	  </body>
</html>