<!DOCTYPE html>
<html>
	{% include post_head.html %}
	  <body>
		  <!-- Google Tag Manager (noscript) -->
		  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KSBVF6T"
		  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		  <!-- End Google Tag Manager (noscript) -->
		  {% include post_header.html %}
			<div class="row">
				<div class="col-md-12">
					<div class="blog-home">
					<h3>{{ page.title }}</h3>
	  				{{ content }}
				</div>
			</div> 
		  {% include post_footer.html %}				
		  {% include post_scripts.html %}
	  </body>
</html>