<!DOCTYPE html>
<html>
	{% include page_head.html %}
	<body>
		<div class="ss">
			{% include page_header.html %}
			<div class="songwriting-overlay"></div>
				<div class="container">
					<div class="row flex-row-reverse">
						<div class="col-md-6">
							<div class="songwriting-text">
								<h3>Songwriting Sessions</h3>
								<p></p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="songwriting-form">
								<div class="contact-text">
									<form action="../../../../contact.php" id="myform" method="POST" enctype="plain">
									  <div class="form-group">
									    <input type="name" class="form-control" id="exampleInputName1" placeholder="Name">
									  </div>
									  <div class="form-group">
									    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
									  </div>
									  <div class="form-group">
									    <input type="message" class="form-control" id="exampleInputMessage1" placeholder="Comments">
									  </div>
									  <button type="submit" class="btn btn-default">Submit</button>
									</form>
								</div><!--end about-->
							</div>
						</div>
					</div>
				</div>
				{% include page_footer.html %}
				{% include page_scripts.html %}
		</div>
	</body>
</html>